body {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(91, 173, 254, 0.46) 0%,
    rgba(91, 224, 254, 0.46) 47.2%,
    rgba(170, 254, 235, 0.43) 90%
  );
  margin: 5px 5px;
  padding: 40px 10px;
}

li {
  list-style: none;
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", "Arial", "sans-serif";
}

h1 {
  text-align: center;
  border: 10px;
  padding: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", "Arial", "sans-serif";
}

h2 {
  text-align: center;
  border: 10px;
  padding: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", "Arial", "sans-serif";
}

ol {
  text-align: center;
  background-color: transparent;
  font-family: "Franklin Gothic Medium", "Arial Narrow", "Arial", "sans-serif";
}

input {
  position: center;
  color: #ac9d95;
  background: white;
  border-radius: 25px;
  padding: 15px;
  width: 200px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", "Arial", "sans-serif";
}

button {
  width: 100px;
  margin: 15px auto 0 auto;
  border: 3px solid #5d7348;
  background-color: #d1e1bf;
  border-radius: 25px;
  padding: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", "Arial", "sans-serif";
}

.forecast {
  font-family: "Franklin Gothic Medium", "Arial Narrow", "Arial", "sans-serif";
  font-size: 2em;
  padding: 5px;
}
